.app-container {
  background-color: #f8fafc;
  height: 100vh;
}
.slides-container {
  display: flex;
}
.slides-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
}
.slider-preview {
  background-color: #fff;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/nxt-slides-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 75vh;
  margin-top: 30px;
}
.plus-icon {
  width: 15px;
}
.new-tab-btn {
  background-color: #dbeafe;
  border-radius: 7px;
  border: none;
  padding: 8px;
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;
}
.input-element {
  font-size: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  margin-bottom: 10px;
}
