.slider-item-container {
  display: flex;
  justify-content: space-around;

  width: 250px;
}
.slide {
  display: flex;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/nxt-slides-bg.png');
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  margin: 5px;
}
.active {
  background-color: #dbeafe;
}
